<br><br><br>
    <div class="container">

 <div class="col-md-3">
        <img src="\public\images\admin.gif" height="150px" width="100%" alt="admin">
    </div>


    <div class="col-md-9">
        <img src="\public\images\Admin_banner.png" height="175px" width="100%" alt="admin home">
    </div>
    <div class="clearfix visible-lg"></div>
    <div class="col-md-6 col-md-offset-3">
    <ul class="nav nav-pills">
      <!-- <li class="nav-item"><a class="nav-link active" href="#">Home</a></li> -->
      <li class="nav-item"><a class="nav-link" href="#/driverV" ng-hide="adminCheck">View Driver Data</a></li>
      <li class="nav-item"><a class="nav-link" href="#/driver" ng-hide="adminCheck">Add Driver Data</a></li>
      <li class="nav-item"><a class="nav-link" href="#/tariffV" ng-hide="adminCheck">View Tariff Data</a></li>
      <li class="nav-item"><a class="nav-link" href="#/tariff" ng-hide="adminCheck">Add Tariff Data</a></li>
    </ul>
  </div>
  </div>
</div>
