<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-4 col-md-offset-4 well">
            <div class="account-wall">
                <form>
                 <div class="form-group">
                  <center><img src="\public\images\changepassword.png" height="100px" width="100px" alt="login">      </center>
                </div>
                 <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" ng-model="User.Email" required autofocus>
                 </div>
                  <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" ng-model="User.NPassword" required>
                </div>
              <center>  <a href="#/Demo" class="btn btn-warning" ng-click="ChangePassword()" style="margin-top: 20px">Change Password</a><center>
                </form>
            </div>
        </div>
    </div>
</div>
