<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map_canvas{
        height: 500px;
        width:100%;
      }
    </style>

<div class="container">
   <div class="row">

         <div class="form-group col-md-6 col-md-offset-3">
       <form>

          <!-- <center>  <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" id="myBtn"><span class="glyphicon glyphicon-tag"></span> &nbsp;Current Booking</button></center> -->
            <!-- Modal -->
            <div class="modal fade" id="myDriverModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                   <h4 class="modal-title custom_align" id="Heading">Booking Details</h4>
                  </div>
                  <div class="modal-body">
                    <table class="table table-striped">

            <tr>
              <td>Starting Point</td>
              <td id="fp"></td>

            </tr>
            <tr>
              <td>Destination Point</td>
              <td id="ep"></td>

            </tr>
            <tr>
              <td>Customer Name</td>
              <td id="cu"></td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td id="mo"></td>
            </tr>
            <tr>
              <td>Total Fare</td>
              <td id="fa"></td>
            </tr>

        </table>

              </div>
                <div class="modal-footer ">
                <button type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span>OK</button>
              </div>
                </div>
            <!-- /.modal-content -->
          </div>
              <!-- /.modal-dialog -->
         </div>
         <center>  <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" id="myBtn"><span class="glyphicon glyphicon-tag"></span> &nbsp;Check Booking Detail</button></center>

       </form>
     </div>
     <div class="col-md-6 col-md-offset-3">

      <div id="map_canvas"></div>
<br/><br/>
     </div>
   </div>
</div>
