<div class="container">
    <div class="row">
            <div class="col-md-12"><img src="\public\images\CabBooking.jpg" width="100%"/></div>
    </div>
<br>
<div class="row">
  <div class="col-md-12"><img src="\public\images\border.png" width="100%" height="70px"/></div>
</div>
<br>
    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="\public\images\feature1.jpg">
      <div class="caption">
        <center><h3> <img src="\public\images\feature1_1.png" width="75px" height="50px">Help Line</h3></center>
        <p>Safety is our preference.Facing any issue with the driver? Do you need a cab service right now? Then contact the customer care number. </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="\public\images\feature2.jpg">
      <div class="caption">
        <center><h3> <img src="\public\images\feature1_1.png" width="75px" height="50px">Any time Anywhere</h3></center>
        <p>No contact number required for booking a cab.In case if you have faced any problems while booking a cab then you may approach the contact number. </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail"><br><br><br>
      <img src="\public\images\feature3.png"><br>
      <div class="caption">
        <center><h3> <img src="\public\images\feature1_1.png" width="75px" height="54px">Luxury</h3></center>
        <p>Top of the line luxury cars like Mercedes, BMW and Audis powered by auto-connect Wi-Fi, at unbeatable fares and attractive hourly rental packages.</p>
      </div>
    </div>
  </div>
</div>
    <div class="row">
    </div>
</div>
