<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="table-responsive">
      <table id="mytable" class="table table-bordred table-striped">
         <thead>
                <th>CABType</th>
                <th>SOURCE</th>
                <th>DESTINATION</th>
                <th>FARE</th>
                <th>CUSTOMER NAME</th>
                <th>CUSTOMER EMAIL</th>
                <th>CUSTOMER MOBILE</th>
          </thead>
            <tbody>
           <tr ng-repeat="d in GetAllBookings">
                    <td>{{d.CabCategory}}</td>
                    <td>{{d.Pickup}}</td>
                    <td>{{d.Destination}}</td>
                    <td>{{d.Amount}}</td>
                    <td>{{d.userBook.name}}</td>
                    <td>{{d.userBook.email}}</td>
                    <td>{{d.userBook.mobile}}</td>
             </tr>
          </tbody>
      </table>
    </div>
</div>
</div>
</div>
